<h1> Painel do Usuário </h1>

<section>

	<%= form_tag(:url => dashboard_salvar_cargo_area_path, :html => { :method => :post }) do %>

	  <div>Área de Interesse:<br />
	  <%- if current_usuario.area %>
	    <%= collection_select(:area, :area_id, @areas, :id, :nome, {:selected => current_usuario.area.id}) %></div>
	  <%- else %>
	    <%= collection_select(:area, :area_id, @areas, :id, :nome, {:prompt => "-Selecione"}) %></div>
	  <%- end %>
	  <div>Posição Almejada:<br />
	  <%- if current_usuario.cargo %>
	    <%= collection_select(:cargo, :cargo_id, @cargos, :id, :nome, {:selected => current_usuario.cargo.id}) %></div>
	  <%- else %>
	    <%= collection_select(:cargo, :cargo_id, @cargos, :id, :nome, {:prompt => "-Selecione"}) %></div>
	  <%- end %>

	  <div><%= submit_tag("Salvar") %></div>
	<% end %>

	<%= link_to "Voltar", dashboard_index_path, :method => :get %>
</section>