<%= stylesheet "devise_pages" %>
<%= javascript "editar_cargo_area" %>

<div class="titulo" style="position: relative; margin-top: 15px">Minha Meta</div>

<div style="width: 800px; text-align: center; position: relative; margin-top: 15px; margin-left: auto; margin-right: auto; display: inline-block">

  <%= form_tag(:url => dashboard_salvar_cargo_area_path, :html => { :method => :post }) do %>
    <div style="width: 45%; float: left; text-align: center; position: relative">
      <div class="texto_principal">Área de Interesse</div>
      <% if current_usuario.area %>
        <%= collection_select(:area, :area_id, @areas, :id, :nome, {:selected => current_usuario.area.id}, {:onChange => 'cargoAreaAlterada()'}) %>
      <% else %>
        <%= collection_select(:area, :area_id, @areas, :id, :nome, {:prompt => "-Selecione"}, {:onChange => 'cargoAreaAlterada()'}) %>
      <% end %><br>
      <div id="area_descr" style="width: 75%; margin-left: auto; margin-right: auto;">
        <% if current_usuario.area %>
          <%= current_usuario.area.descr %>
        <% end %>
      </div>
    </div>
    <div style="width: 10%; float: left; text-align: center; position: relative">
      <%= submit_tag "Salvar", :class => "btn" %>
    </div>
    <div style="width: 45%; float: right; text-align: center; position: relative">
      <div class="texto_principal">Posição Almejada</div>
      <% if current_usuario.cargo %>
        <%= collection_select(:cargo, :cargo_id, @cargos, :id, :nome, {:selected => current_usuario.cargo.id}, {:onChange => 'cargoAreaAlterada()'}) %>
      <% else %>
        <%= collection_select(:cargo, :cargo_id, @cargos, :id, :nome, {:prompt => "-Selecione"}, {:onChange => 'cargoAreaAlterada()'}) %>
      <% end %><br>
      <div id="cargo_descr" style="width: 75%; margin-left: auto; margin-right: auto;">
        <% if current_usuario.cargo %>
          <%= current_usuario.cargo.descr %>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
<div style="width: 800px; text-align: center; margin-left: auto; margin-right: auto;">
  <div class="texto_principal">
    <span id="cargo_area_nome">
      <% if current_usuario.area and current_usuario.cargo %>
        <%= @cargoArea[:nome] %>
      <% end %>
    </span>
  </div>
  <div id="cargo_area_descr" style="width: 270px; text-align: center; margin-left: auto; margin-right: auto">
    <% if current_usuario.area and current_usuario.cargo %>
      <%= @cargoArea[:descr] %>
    <% end %>
  </div>
</div>