<%= link_to "Sair", destroy_usuario_session_path, :method => :get %> | 
<%= link_to "Alterar configurações de segurança", edit_usuario_registration_path, :method => :get %>

<h1> Painel do Usuário </h1>

<section>
	Cargo Almejado: <%= current_usuario.cargo.nome %> <%= current_usuario.area.nome %><br/>
	<%= link_to "Editar", dashboard_editar_cargo_area_path, :method => :get %>
</section>