<%= stylesheet "bootstrap.min", "pagina_inicial" %>
<%= javascript "pagina_inicial", "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", "bootstrap.min" %>
<%= bodyStyle "min-height: 530px; min-width: 1090px; overflow: auto; position: absolute; margin: 0px; height: 100%; width: 100%" %>

<% content_for :background_banner do %>
  <img src="<%= image_path "pagina_inicial/pag_inicial_banner.jpg" %>" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0">
<% end %>

<%= render :partial => "devise/shared/header_nao_logado", :locals => {:links => [

  content_tag(:div, "Como Funciona", id: "botao_como_funciona", onClick: "barraPassosClicada()"),

  (link_to "Sobre Nós", sobre_nos_path, :method => :get)

]} %>


<div id="div_frase_central">

  <div id="bg_frase_central"></div>

  <div id="frase_central">

    <span class="frase_central_light">O </span><span class="frase_central_bold">trabalho</span><span class="frase_central_light"> não deve </span><span class="frase_central_bold">impedir a vida</span>

  </div>

</div>


<div id="secao_login_signup">

  <div style="width: 100%; height: 49px;">
    <div style="width: 100%; left: 0; top: 0; position: absolute; height: 38px;">
      <input type="submit" value="entrar" id="botao_entrar" class="botoes_entrar_registrar" onClick="botaoEntrarClicado()"/>
      <input type="submit" value="registrar" id="botao_registrar" class="botoes_entrar_registrar" onClick="botaoRegistrarClicado()"/>
      <span class="letras_login_1" style="margin-top: 5px">ou</span>
    </div>
  </div>


  <div id="caixa_entrar" style="height: 102px" class="caixas_entrar_registrar">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.email_field :email, :class => "texto_email_senha", :placeholder => "Email" %>
      <%= f.password_field :password, :class => "texto_email_senha", :placeholder => "Senha" %>
      <%= f.submit "Entrar", :class => "botoes_forms btn btn-mini" %>
      <%= link_to "Esqueceu sua senha?", new_password_path(:usuario), :class => "form_escape_links" %>
    <% end %>
  </div>

  <div id="caixa_registrar" style="height: 137px" class="caixas_entrar_registrar">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= f.text_field :nome, :class => "texto_nome_sobrenome", :placeholder => "Nome" %>
      <%= f.text_field :sobrenome, :class => "texto_nome_sobrenome", :placeholder => "Sobrenome" %>
      <%= f.email_field :email, :class => "texto_email_senha", :placeholder => "Email" %>
      <%= f.password_field :password, :class => "texto_email_senha", :placeholder => "Senha" %>
      <%= link_to "Registrou e não recebeu instruções?", new_confirmation_path(:usuario), :class => "form_escape_links" %>
      <%= f.submit "Registrar", :class => "botoes_forms btn btn-mini" %>
    <% end %>
  </div>


  <div style="width: 100%; height: 43px;">
    <div style="left: 0; bottom: 0; position: absolute; opacity: 0.73; filter: alpha(opacity=73); background-color: #4d98ae; width: 100%; height: 32px"></div>

    <div style="width: 100%; left: 0; bottom: 0; position: absolute; height: 32px;">
      <div style="left: 0; bottom: 0; position: absolute; width: 100%; height:100%">
        <span class="letras_login_1" style="margin-left: 10px;">Entre com</span>
        <form method="link" action="<%= omniauth_authorize_path(resource_name, :facebook) %>" style="float: left">
          <input type="submit" value="" id="botao_facebook" class="botoes_redes_sociais"/>
        </form>
        <form method="link" action="<%= omniauth_authorize_path(resource_name, :facebook) %>" style="float: left">
          <input type="submit" value="" id="botao_linkedin" class="botoes_redes_sociais"/>
        </form>
      </div>
    </div>
  </div>

</div>



<div id="rodape_expansivel">

  <div id="barra_passos_up_container">
    <div id="barra_passos_up" class="barras_passos" onClick="barraPassosClicada()">

      <div>Passo 1</div>
      <div>Passo 2</div>
      <div>Passo 3</div>
      <div>Passo 4</div>

    </div>
  </div>
  <div id="barra_passos_down_container" style="display: none">
    <div id="barra_passos_down" class="barras_passos" onClick="barraPassosClicada()">

      <div>Passo 1</div>
      <div>Passo 2</div>
      <div>Passo 3</div>
      <div>Passo 4</div>

    </div>
  </div>

  <div id="painel_passos" >
  
    <div id="rodape_painel_passos">

      <div style="display: table; height: 100%; width: 100%; position: absolute; float: right;">
        <span class="rodape_up2u">
          <span style="margin-right: 20px;">
            Up to <b>You</b>
          </span>
          <span style="margin-right: 20px;">
            2013
          </span>
        </span>
      </div>

      <div id="rodape_tabela_links">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">
          <div style="display: inline-block">
            <div class="rodape_painel_links rodape_painel_text" style="cursor: pointer; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; margin-right: 15px" onClick="entrarRodapeClicado()">Entrar</div>
            <div class="rodape_painel_links rodape_painel_text" style="cursor: pointer; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; margin-right: 15px" onClick="registrarRodapeClicado()">Registrar</div>
            <%= link_to "Sobre Nós", sobre_nos_path, :method => :get, :class => "rodape_painel_links rodape_painel_text" %>
          </div>
        </div>
      </div>

    </div>

    <img id="imagem_passos" src="<%= image_path "pagina_inicial/foto_steps.jpg" %>">

  </div>
</div>