<%= stylesheet "bootstrap.min", "devise_pages" %>

<%= render :partial => "devise/shared/header_nao_logado", :locals => {:links => [(link_to "Página Inicial", new_session_path(:usuario), :method => :get)]} %>


<div id="page_main_container">

	<p class="titulo">Redefinição de senha</p>

	<p class="texto_principal">Escolha sua nova senha.</p>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= f.hidden_field :reset_password_token %>
	  <%= f.password_field :password, :autofocus => true, :class => "texto_email_senha", :placeholder => "Nova senha" %><br/>
	  <%= f.password_field :password_confirmation, :class => "texto_email_senha", :placeholder => "Confirme a nova senha" %><br/>
	  <%= f.submit "Confirmar", :class => "botoes_forms btn btn-mini" %>
	<% end %>

	<div class="rodape_label">Up to You 2013</div>

</div>