<p>Olá <%= @nome %> <%= @sobrenome %>!</p>

<p>Você acessou o nosso site pela primeira vez através do <%= @provider %>.</p>

<p>Para que você possa acessar sua conta sem precisar usar o <%= @provider %>, você pode usar sua senha inicial, que é:</p>

<p><%= @password %></p>

<p>Muito obrigado!</p>