<!DOCTYPE html> 
<html>
<head>
  <title>Up2U<%= yield(:title) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield(:stylesheet) %>
  <%= yield(:javascript) %>
</head>

<% if content_for?(:body_style) %>
  <body style="<%= yield(:body_style) %>">
<% else %>
  <body style='<%= "min-height: 480px; min-width: 930px; overflow: auto; position: absolute; margin: 0px; height: 100%; width: 100%; background-image:url('" + (image_path "background_azul.jpg") + "'); background-repeat: repeat; text-align: center" %>'>
<% end %>

<% if content_for?(:header_logado) %>
  <%= yield(:header_logado) %>
<% end %>

<% if content_for?(:background_banner) %>
  <%= yield(:background_banner) %>
<% end %>

<% if content_for?(:header) %>
  <%= yield(:header) %>
<% end %>

<% if content_for?(:absolute_content) %>
  <%= yield(:absolute_content) %>
<% end %>

<% flash_devise_errors if defined? resource %>

<% unless flash.empty? %>
  <div style="position: relative; margin-top: 10px" class="row-fluid">
    <div class="span4 offset4 container">
      <% flash.each do |type, msg| %>
        <% if msg.is_a?(String) %>
          <div class="alert alert-<%= flash_class(type) %>" style="text-align: center; margin-bottom: 4px">
            <a class="close" data-dismiss="alert" style="float: right">&#215;</a>
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= yield %>

</body>
</html>