<!DOCTYPE html> 
<html>
<head>
  <title>Up2U<%= yield(:title) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield(:stylesheet) %>
  <%= yield(:javascript) %>
</head>
<body style="<%= yield(:body_style) %>">

<%= content_for?(:header_logado) ? yield(:header_logado) : yield %>

</body>
</html>