<!DOCTYPE html> 
<html>
<head>
  <title>Up2U<%= yield(:title) %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield(:stylesheet) %>
  <%= yield(:javascript) %>
</head>
<body style="<%= yield(:body_style) %>">

<%= content_for?(:header_logado) ? yield(:header_logado) : yield %>

<% flash_errors if defined? resource %>

<div style="position: absolute; top: 75px;">
  <% flash.each do |type, msg| %>
    <% if msg.is_a?(String) %>
      <div class="alert alert-<%= flash_class(type) %>">
        <a class="close" data-dismiss="alert" style="float: right">&#215;</a>
        <%= msg %>
      </div>
    <% end %>
  <% end %>
  <% flash %>
</div>

</body>
</html>